---
- import_tasks: variables.yml
  tags:
    - check
    - configure
    - install
    - secure
    - databases
    - users

- import_tasks: check-settings.yml
  tags: check
  when: ansible_os_family not in ['RedHat', 'Rocky']

- import_tasks: check-settings-centos.yml
  tags: check
  when: ansible_os_family in ['RedHat', 'Rocky']

- import_tasks: install.yml
  tags: install
  when: ansible_os_family not in ['RedHat', 'Rocky']

- import_tasks: install-centos.yml
  tags: install
  when: ansible_os_family in ['RedHat', 'Rocky']

- import_tasks: configure.yml
  tags: configure

- import_tasks: secure.yml
  tags: secure

- import_tasks: databases.yml
  tags: databases

- import_tasks: users.yml
  tags: users
